In [137]:
import importlib
import mylib as ml
importlib.reload(ml)

In [130]:
ids = ml.getCategories('delfina')

In [131]:
ml.getProdutos('delfina')

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\ProgramData\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\filipe\AppData\Local\Temp\ipykernel_58980\1149500911.py", line 1, in <module>
    ml.getProdutos('delfina')
  File "C:\Users\filipe\OneDrive - FalkataSemi\codigo\mylib.py", line 67, in getProdutos
    params["categoryID"] #= ids.index[i]
KeyError: 'categoryID'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\ProgramData\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\ProgramData\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\ProgramData\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\ProgramData\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 818, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "C:\ProgramData\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 736, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "C:\ProgramData\anaconda3\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\ProgramData\anaconda3\lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
  File "C:\ProgramData\anaconda3\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\ProgramData\anaconda3\lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "C:\ProgramData\anaconda3\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\ProgramData\anaconda3\lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
  File "C:\ProgramData\anaconda3\lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [132]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

In [133]:
ids

                 Categoria  CategoriaID
0                   Azeite     52030662
1                  Bebidas     41008263
2                Cafetaria     52017997
3                    Carne     57680644
4                     Casa     43027531
5   Cereais_Pequeno_Almoco     52017633
6                  Finados     55112678
7                    Fruta     40298495
8                  Fumeiro     41092214
9          Higiene Pessoal     77568604
10                Iogurtes     41062462
11              Laticínios     47247435
12                 Legumes     40301776
13               Mercearia     40502212
14                   Natal     56756356
15              Pastelaria     46369633
16                    Pets     56908570
17                  Queijo     40297203
18                  Snacks     44287177
19                   Vinho     52339749

In [134]:
df_delfina

,Referencia,Nome,Preco,Categoria
0,5600712204052,Azeite Ouro da Fábrica,22.55,Azeite
1,DCA-000150,Azeite,5.65,Azeite
2,VAZE1362-22010695,Azeite Cor do Sol - 5L,18.50,Azeite
3,VAZE939-20110130,Azeite Encostas do Tavora - 2Lts,11.30,Azeite
4,VAZE334-20031610,Azeite Encostas do Távora - Virgem - 5lt,27.00,Azeite
...,...,...,...,...
43,VVIN1496-22121539,Vinho Tinto Udaca 5Lt,8.75,Vinho
44,VVIN805-20073129,Vinho Tinto Virtuoso,1.15,Vinho
45,VVIN848-20082111,Vinho Verde Casal Garcia,4.35,Vinho
46,VVIN848-20082194,Vinho Verde Muralhas,4.75,Vinho
47,VVOD1531-2303169,Vodka Misss Black 70cl,8.65,Vinho

In [138]:
ml.getProdutosM('minipreco')

Erro em: 		DIA NA GRELHA Salsichas Churrasco Finas Ervas Embaladas 200 g <s>(9,95 €/Kg.)</s>
									(8,95 €/Kg.)

Erro em: 		CAMPOFRIO Fiambre de Peru Fatias Clássicas 90 g <s>(15,56 €/Kg.)</s>
									(10,89 €/Kg.)

Erro em: 		RANA Folhas Para Lasanha 250 g <s>(10,76 €/Kg.)</s>
									(8,08 €/Kg.)

Erro em: 		LOCTITE Super Cola 3 2 g 1.295,00 €/Kg
Erro em: 		EXCELLENCE Coloração Castanho Claro N5 1 un <s>(12,99 €/ud.)</s>
									(8,44 €/ud.)

,Produto,Price,Unidade,New Price,Categoria
0,\t\tManga (1 un = 510 g aprox),"2,99 €/Kg",€/Kg,2.99,frutas
1,\t\tHORTA DO DIA Melão Branco (1 un = 2015 g a...,"1,99 €/Kg",€/Kg,1.99,frutas
2,\t\tMaçã Golden Embalada 1 kg,"1,59 €/Kg",€/Kg,1.59,frutas
3,\t\tPêssego Paraguaio (1 un = 115 g aprox),"4,89 €/Kg",€/Kg,4.89,frutas
4,\t\tMaçã Granny (1 un = 200 g aprox),"2,44 €/Kg",€/Kg,2.44,frutas
...,...,...,...,...,...
427,\t\tMIMOSA Leite Magro Com Cálcio 1 L,"1,09 €/l",€/l,1.09,leite
428,\t\tMIMOSA Leite UHT Meio Gordo Com Cálcio 1 L,"1,09 €/l",€/l,1.09,leite
429,\t\tDIA LÁCTEA Leite Com Chocolate 3x200 ml,"1,65 €/l",€/l,1.65,leite
430,\t\tAGROS Leite Meio Gordo 1 L,"0,85 €/l",€/l,0.85,leite
431,\t\tUCAL Leite Com Chocolate 250 ml,"4,00 €/l",€/l,4.0,leite

In [140]:
ml.getProdutosF('delfina')

AttributeError: module 'mylib' has no attribute 'getProdutosF'